# local package
-e .

# external requirements
click
Sphinx
coverage
awscli
python-dotenv>=0.5.1

# Machine Learning
scikit-learn
jupyter
seaborn
pandas

# ML ops
mlflow
dvc

# code quality
pytest
flake8
black
isort
pre-commit
